@{
    ViewBag.Title = "Vendor Form";
}

<div class="jumbotron" style="padding-top:48px !important;">
    <input type="hidden" value="@ViewBag.Id" />
    <h3 class="form-signin-heading text-center">@ViewBag.TextMessage</h3>
</div>