@{
    ViewBag.Title = "Vendor List";
}

@section scripts {
    <script type="text/javascript">
        var users;
        var onClickSearch = false;

        function getVendors() {
            users = $('#lstUsers').DataTable
                ({
                    "language":
                    {
                        "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                    },
                    "processing": true,
                    "serverSide": true,
                    "lengthMenu": convertStringToArray('10,50,100,200,500', ','),
                    "pageLength": '50',
                    "ajax":
                    {
                        "url": '@Url.Action("GetVendor", new { area = "", controller = "Vendors" })',
                        "type": "POST",
                        "dataType": "JSON",
                        "data": function (d) {
                            return d;
                        }
                    },
                    "bFilter": false,
                    "scrollX": true,
                    "autoWidth": false,
                    "searching": true,
                    "info": true,
                    'aaSorting': [[0, 'desc']],
                    "columns": [
                        {
                            "data": "NewExistingVendor", "name": "NewExistingVendor"
                        },
                        {
                            "data": "VendorCode", "name": "VendorCode"
                        },
                        {
                            "data": "Email", "name": "Email"
                        },
                        {
                            "data": "vend_name", "name": "vend_name"
                        },
                        {
                            "data": "Owner", "name": "Owner"
                        },
                        {
                            "data": "NextApprover", "name": "NextApprover",
                            "render": function (data, type, row, meta) {
                                return row.NextApprover;
                            }
                        },
                        {
                            "data": "PreviousApprover", "name": "PreviousApprover",
                            "render": function (data, type, row, meta) {
                                return row.PreviousApprover != " ()" ? row.PreviousApprover : "";
                            }
                        },
                        {
                            "data": "LegalDepartment", "name": "LegalDepartment",
                            "render": function (data, type, row, meta) {
                                return row.LegalDepartment != " ()" ? row.LegalDepartment : "";
                            }
                        },
                        {
                            "data": "FinanceDepartment", "name": "FinanceDepartment",
                            "render": function (data, type, row, meta) {
                                return row.FinanceDepartment != " ()" ? row.FinanceDepartment : "";
                            }
                        },
                        {
                            "data": "ITDepartment", "name": "ITDepartment",
                            "render": function (data, type, row, meta) {
                                return row.ITDepartment != " ()" ? row.ITDepartment : "";
                            }
                        },
                        {
                            "data": "Status", "name": "Status",
                            "render": function (data, type, row, meta) {
                                return row.Status == "Approved" ? "<span class='color-green'>Approved</span>" : row.Status == "Pending" ? "<span class='color-yellow'>Pending</span>" : "<span class='color-red'>Rejected</span>";
                            }
                        },
                        {
                            "data": "Documents", "name": "Documents"
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return "<a href='@Url.Action("VendorStep1", new { area = "", controller = "Vendors" })/" + row.Id + "' class='icon-eye' title='View'>View</a>"
                            }, "targets": 'no-sort', "orderable": false
                        },
                    ]
                });
        }

        jQuery(document).ready(function () {
            getVendors();
        });
    </script>
}

<div class="jumbotron" style="padding-top:30px !important;padding-bottom:30px !important;">
    <input type="hidden" value="@ViewBag.Id" />
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped table-bordered table-hover" id="lstUsers">
                            <thead class="table_header">
                                <tr>
                                    <th>New / Existing</th>
                                    <th>Vendor Code</th>
                                    <th>Email</th>
                                    <th>Vendor Name</th>
                                    <th>Owner</th>
                                    <th>Next Approver</th>
                                    <th>Previous Approver</th>
                                    <th>Legal</th>
                                    <th>Finance</th>
                                    <th>IT</th>
                                    <th>Status</th>
                                    <th>Documents</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>